div {
  position: absolute;
  width: 80%;
  margin: 200px;
  padding: 10px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
 }

.w3-right {
  float: right!important;
}

.w3-left {
  float: left!important;
}

.w3-btn {
  width: 90px;
  display: inline-block;
  padding: 4px 15px;
  margin: 8px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}